<!doctype html>
<html>
  <head>
    <title>If Covid-19 Keeps Accelerating...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162264405-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162264405-1');
    </script>
  </head>
  <body>

    <nav>
      <a href="/"><h1>If Covid-19 Keeps Accelerating...</h1></a>
    </nav>

    <section class="content">
      <header>
        {% block content %}{% endblock %}
      </header>
    </section>
  </body>
</html>