<!doctype html>
<html>
  <head>
    <title>If Covid-19 Keeps Accelerating...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/re-com.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <nav>
      <div class="rc-v-box display-flex " style="flex-flow: column nowrap; flex: 0 0 auto; justify-content: flex-start; align-items: stretch;">
        <div class="rc-h-box display-flex " style="align-items: stretch; flex-flow: row nowrap; flex: 0 0 auto; justify-content: space-between; border-bottom: 1px solid black;">
          <div class="rc-h-box display-flex " style="flex-flow: row nowrap; flex: 0 0 auto; justify-content: flex-start; align-items: stretch;">
            <a href="/"><h1 class="_stylefy_1204116440">If Covid-19 Keeps Accelerating...</h1></a>
          </div>
        </div>
      </div>
    </nav>

    <section class="content">
      <header>
        {% block content %}{% endblock %}
      </header>
    </section>
  </body>
</html>