{% extends 'base.html' %}


{% block content %}
<nav>
    <form action="" method="GET">
        comparison event:
        <select name="event" id="event" onchange="this.form.submit()">
            {% for e in event_names %}
            <option value={{ e }}>{{ events[e]['itemLabel'] }}</option>
            {% endfor %}.
        </select><br>
        country:
        <select name="country" id="country" onchange="this.form.submit()">
            {% for c in countries %}
            <option value={{ c }}>{{ c }}</option>
            {% endfor %}.
        </select>
    </form>
  </nav>
  <section class="content">
    <p id="headline">
    {% if date %}
    <i>if acceleration continues, {{country}} death count will match {{events[event]['itemLabel']}} ({{ "{:,.0f}".format(events[event]['deaths'])}}) by {{date}}</i>
    </p>
    <p>daily growth rate: {{ "{:.2f}".format(100*(increase_rate-1)) }}%</p>
    <p>this is not an epidemiological model, just a demonstration of exponential growth</p>
    <table class="blueTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Projected Deaths</th>
        </tr>
      </thead>
      <tbody>
      {% for d in dates %}
        <tr>
          <td>{{ d['date'] }}</td>
          <td>{{ "{:,.0f}".format(d['deaths']) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </section>
{% endblock %}
